<!--<div class="row">
    <div class="col pl-0 pr-0">
        <ngb-alert *ngIf="!staticAlertClosed" (close)="closeAlert()">
            {{instructs}}
        </ngb-alert>
    </div>
</div>-->
<div class="row">
    <div *ngIf="whatObs | async as whats; else loading" class="col pl-0 pr-0">
        <div class="row align-items-center no-gutters">
            <div *ngFor="let what of whats | jason" class="col-12">
                <img class="img-fluid" [src]="what | what:whats.url">
                <!--<img class="mx-auto mw-100" [lazyLoad]="what | what:whats.url">-->
            </div>
        </div>
    </div>
    <ng-template #loading>Loading...</ng-template>
</div>

