<div class="row">
    <div class="col">
        <div class="row" ngbTooltip={{tooltip}}>
            <div class="col-md-6">
                <img src="../../assets/invite-front.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img src="../../assets/invite-back.jpg" class="img-fluid">
            </div>
        </div>
        <div>
            <p class="mt-1 lead">{{blurb}}</p>
            <p class="mt-1 lead">{{disclaimer}}</p>
            <p class="mt-1 lead">{{thanks}}</p>
        </div>
        <div class="media">
            <a href="https://open.spotify.com/user/adamzuffi/playlist/3uNOYdks1hAp7GjjB0gCDq"
               target="_blank"
               placement="top"
               triggers="hover"
               ngbTooltip={{spotify}}
               class="d-flex">
                <img class="d-flex align-self-center mr-3"
                     src="../../assets/spotify.jpg"
                     srcset="../../assets/spotify-HD.jpg 2x"
                     alt={{spotify}}>
            </a>
            <div class="media-body">
                <p class="lead">{{claim}}</p>
            </div>
        </div>
    </div>
</div>

